<table class="table table-bordered table-condensed table-striped" data-toggle="table">
    <thead>
        <tr>
            <th data-field="customer">Customer</th>
            <th data-field="created_at">Created at</th>
            <th data-field="code">Code</th>
            <th data-field="sms status">Sms Status</th>
            <th data-field="gift_status">Gift Status</th>
            <th data-field="code_status">Code Status</th>
        </tr>
    </thead>
    <tbody>
    <% campaign_customers.each do |cc| %>
      <tr>
        <td><%= link_to cc.customer.info, customer_path(cc.customer.id) %></td>
        <td><%= cc.created_at %></td>
        <td><%= cc.code %></td>
        <td><%= cc.sms_status %></td>
        <td><%= cc.gift_status %></td>
        <td><%= cc.code_status %></td>
      </tr>
    <% end %>
    </tbody>
</table>
<%= paginate campaign_customers %>
