<table class="table table-bordered table-condensed table-striped" data-toggle="table">
    <thead>
        <tr>
            <th data-field="id">ID</th>
            <th data-field="name">Name</th>
            <th data-field="email">Email</th>
            <th data-field="phone">Phone</th>
            <th data-field="end_time">Location</th>
            <th data-field="edit">Edit</th>
        </tr>
    </thead>
    <tbody>
    <% resellers.each do |reseller| %>
        <tr>
        <td><%= reseller.id %> </td>
        <td><%= reseller.name %></td>
        <td><%= reseller.email %></td>
        <td><%= reseller.phone %></td>
        <td><%= reseller.location %></td>
        <td><i class="fa fa-pencil-square-o" aria-hidden="true" data-toggle="modal" data-target="#form-modal-<%= reseller.id %>"></i></td>
        <%= render partial: "users/modal_form", locals: { user: reseller } %>
        </tr>
    <% end %>
    </tbody>
</table>
<%= paginate resellers %>