<%= form_tag(campaigns_path, :method => "get", id: "search-form", class: "form-horizontal") do %>
  <div class="row">
  	<div class="col-md-3">
	<input type="text" name="city" class='form-control' placeholder="City" value = <%= params[:city].present? ? params[:city] : "" %> >
	</div>
	<div class="col-md-3">
		<input type="text" data-provide='datepicker' class='form-control' name="date" placeholder="Choose a date" value = <%= params[:date].present? ? params[:date] : "" %> >
	</div>
	<div class="col-md-3">
		<input type="text" name="product_name" class='form-control' placeholder="Product name" value = <%= params[:product_name].present? ? params[:product_name] : "" %> >
	</div>
	<div class="col-md-3">
    	<%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
    </div>
<% end %>
<script>
$( ".dropdown" ).select2({
    theme: "bootstrap"
});
</script>