<h2>Import Products</h2>
<%= form_tag import_products_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
<h3>All Products</h3>
<%= render partial: "products/list", locals: { resources: @resources } %>
<br/>
<h3>Campaigns' Products</h3>
<%= render partial: "products/campaign_products", locals: { resources: @campaign_products } %>
<br/>
<h3>Sản phẩm ưa chuộng</h3>
<%= render partial: "products/favorite_products", locals: { resources: @favorite_products } %>