<div class="well">
<%= link_to "New User", new_campaign_path, class: "btn btn-primary" %>
-->
<%= link_to "New Product", new_campaign_path, class: "btn btn-primary" %>
-->
<%= link_to "New Campaign", new_campaign_path, class: "btn btn-primary" %>
-->
<%= link_to "Import Customer", new_campaign_path, class: "btn btn-primary" %>
-->
<%= link_to "Generate Code", new_campaign_path, class: "btn btn-primary" %>
-->
<%= link_to "Set Sms Status", new_campaign_path, class: "btn btn-primary" %>
-->
<%= link_to "Set Gift Status", new_campaign_path, class: "btn btn-primary" %>
</div>